@model IEnumerable<RBALLEvents.Models.RacquetballViewModels.GenderBreakdown>

@{
    ViewData["Title"] = "Membership Gender Breakdown";
}

<h2>RBALL EVENTS</h2>
<p>RBALL Events caters for Racquetball Clubsall over Ireland looking to advertise their events and also to recieve registerations. We make note of all clubs accross Ireland alongside Event Corodinators and members.</p>



<h2>Membership Gender Breakdown</h2>

<table>
    <tr>
        <th>
            Gender
        </th>
        <th>
            Member
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @item.MemberCount
            </td>
        </tr>
    }
</table>
}
