<article class="app-error-page">

    <h1>Error</h1>

    <h2>Sorry, there has been an error.</h2>

    <p>@ViewBag.ErrorMessage</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">OK</a>

</article>